/*  your css code here. If applicable */
.contain
{
	background-color:#f5f5f5;
}
.one
{
	font-color:black;
	background-color:white;
	border: 1px black;
	padding:5px;
	margin:50px;
	border:1px black;
}
.author{
	fort-style:italic;
	text-align:right;
}
